.safe__area {
    width: 100%;
    margin: auto;
}

.section--top {
    margin-top: 110px !important;
}

.title__contant  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin-bottom: 40px;
}

.title__line {
    background-color: var(--green);
    height: 2px;
    border-radius: 2px;
    border: none;
    flex: 1;
    opacity: 0.4;
}

.title__text {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
    color: var(--green);
    font-weight: 700;
}

.title__line--invert {
    background-color: var(--primary-white);
}

.title__text--invert {
    color: var(--primary-white);
}

.simple__text {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--primary-white);
    font-weight: 600;
    text-align: center;
    margin-top: .5rem;
}

.link__text {
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--green);
    font-weight: 600;
}

.box__shadow {
    -webkit-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.2); 
    box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.2);
}

.button__default {
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    font-size: 1rem;
    line-height: 1.7rem;
    color: var(--primary-white);
    background-color: var(--orange);
    font-weight: 600;
}

.effect__parallax {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 767px) {
    .safe__area {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .safe__area {
        padding-left: 72px;
        padding-right: 72px;
        max-width: calc(1181px + 72px * 2 );
    }
}